{% extends "base.html" %}{% load i18n %}
{% block title %}{{ project.name }} | {{ block.super }}{% endblock title %}
{% block content %}
<h1>{{ project.name }}</h1>
<div class="toolbar">
    {% if request.user.is_authenticated %}
        <form action="{% url "project_like" project.pk %}" method="get">
            <input type="hidden" name="next" value="{{ request.path }}">
            <select class="like-type" name="like_type" onchange="this.form.submit();">
                <option value="">{% trans "like" %}</option>
                {% for like_type in like_types %}
                    <option value="{{ like_type.0 }}">{{ like_type.1|safe }}</option>
                {% endfor %}
            </select>
        </form>
    {% endif %}
    {% for like in project.likes_by_type %}
        {% for like_type in like_types %}
            {% if like_type.0 == like.like_type%}{{ like_type.1|safe }}: {{ like.count }}{% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% if project.owner == request.user or request.user.is_superuser %}
    <p>
        <a class="button" href="{% url "project_update" project.pk %}">{% trans "edit"|capfirst %}</a>
        <a class="button" href="{% url "project_delete" project.pk %}">{% trans "delete"|capfirst %}</a>
        <a class="button" href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url "project_list" %}{% endif %}">{% trans "return"|capfirst %}</a>
    </p>
{% endif %}
<p>{% trans "owner" %}: <a href="{% url "user_detail" project.owner.username %}">{{ project.owner }}</a></p>
{% if project.youtube_video_hash %}
<div class="tube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ project.youtube_video_hash}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
{% endif %}
{% if project.description %}
<div class="user-content">{{ project.description|safe }}</div>
{% endif %}
<h2>{% trans "tasks"|capfirst %} ({{ project.tasks.count }})</h2>
<ul>
    <li class="list-table-header">
        <span>{% trans "name"|capfirst %}</span>
        <span style="float:right;">{% trans "deadline"|capfirst %}</span>
    </li>
{% for task in project.tasks.all %}
<li><a href="{% url "task_done" task.pk %}?next={{ request.path|urlencode }}">
    {% if task.is_done %}&#x2611;{% else %}&#x2610;{% endif %}</a>
    <a href="{% url "task_detail" task.pk %}?next={{ request.path|urlencode }}">{{ task.name }}</a>
    <span style="float:right;">{{ task.deadline }}</span>
</li>
{% empty %}
    <li>{% trans "no tasks found"|capfirst %}</li>
{% endfor %}
</ul>
{% endblock content %}
