body {
    background-color: #cccccc;
    background-image: url('/static/img/flower.jpg');
    background-size: contain;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0; padding: 0;
    min-height: 100vh;
}

header {
    background-color: #999999df;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: 700;
    padding: 0.5rem;
}

header ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-block: 0.5rem;
    margin-left: 1rem;
    padding-inline: 0;
    gap: 0.5rem;
}    

header ul.nav li a, header ul.nav form button {
    background-color: #aaaaaa;
    display: block;
    margin: 0;
    padding: 0.5rem;
    border: 0;
    border-bottom: 2px solid #004488;
    cursor: pointer;
    color: #004488;
    font-size: 100%;
    border-radius: 0.5rem;
}

header ul.nav li a:hover, header ul.nav form button:hover {
    background-color: #b8b8b8;
    border-bottom: 2px solid #0055cc;
    color: #0055cc;
    text-decoration: none;
}

main {
    flex-grow: 1;
    background-color: #eeeeeebf;
}

footer {
    background-color: #6666669f;
}

a {
    color: #004488;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #0055cc;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    background-color: #9999997f;
    border-color: 1px solid #888888;
    padding: 0.5rem;
    margin: 1rem 0;
}

h1:first-child, h2:first-child, h3:first-child, 
h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

p, main ul {
    padding: 0 0.5rem;
    margin: 1rem 0;
}

main ul li {
    border-bottom: 1px dotted #999999;
}

main ul li.list-table-header {
    padding-bottom: 0.5rem;
}

footer p {
    color: #cccccc;
}

footer a {
    color: #66aaff;
}

footer a:hover {
    color: #77bbff;
}

section.messages {
    padding: 0;
    margin: 0;
}

section.messages .message {
    padding: 0.5rem;
    margin: 0;
    border-bottom: 1px solid #888888;
}

.message-debug {
    background-color: #aaaaaa;
}

.message-info {
    background-color: #99ccff;
}

.message-success {
    background-color: #ccff99;
}

.message-warning {
    background-color: #ffcc99;
}

.message-error {
    background-color: #ffaaaa;
}

.spacer {
    flex-grow: 1;
}
header form select {
    margin: 1rem;
    font-size: 100%;
}

div.flower {
    display: inline-block;
    border: 2px solid #ffcc00;
    border-radius: 1rem;
    margin: 1rem;
}

div.fog {
    background-color: #ffffff9f;
    display: inline-block;
    padding: 2rem;
    border-radius: 1rem;
}

footer .icon {
    max-height: 24px;
}