{% extends "base.html" %}{% load i18n %}
{% block title %}{{ block.super }} {% trans "projects" %}{% endblock title %}
{% block content %}
<h1>{% trans "projects"|capfirst %}</h1>
<div class="toolbar">
    <a class="button" href="{% url "project_create" %}">{% trans "create new"|title %}</a>
    <form method="get" action="{{ request.path }}">
        <select name="owner" onchange="this.form.submit();">
            <option value="">{% trans "filter by owner"|capfirst %}</option>
            {% for user in user_list %}
                <option value="{{ user.username }}" {% if user.username == request.GET.owner %}selected{% endif %}>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</option>
            {% endfor %}
        </select>
    </form>
</div>
<ul>
{% for project in project_list %}
    <li>
        <a href="{% url "project_detail" project.pk %}">{{ project.name }}</a>
        ({{ project.tasks.count }})
    </li>
{% empty %}
    <li>{% trans "no projects found"|title %}</li>
{% endfor %}
</ul>
{% endblock content %}
