{% extends "base.html" %}{% load i18n %}
{% block title %}{{ block.super }} | {{ task }}{% endblock title %}
{% block content %}
<h1><a href="{% url "task_done" task.pk %}?next={{ request.path }}">
    {% if task.is_done %}&#x2611;{% else %}&#x2610;{% endif %}</a>
    {{ task.name }}</h1>
{% if task.owner == request.user %}
    <p>
        <a class="button" href="{% url "task_update" task.pk %}">{% trans "edit"|capfirst %}</a>
        {% comment %} <a class="button" href="{% url "task_delete" task.pk %}">{% trans "delete"|capfirst %}</a> {% endcomment %}
    </p>
{% endif %}
<p>{{ task.owner }} / {{ task.project }}</p>
<p>{% trans "deadline"|capfirst %}: {{ task.deadline }}</p>
<p>{{ task.description }}</p>
<p>{% trans "created"|capfirst %}: {{ task.created_at }}, 
    {% if task.created_at != task.updated_at %}
        {% trans "updated" %}: {{ task.updated_at }}
    {% endif %}
</p>
{% endblock content %}
